body {
    margin: 0;
    background-color: #00a5be;
    font-family: monospace;
}
.logo {
    display: block;
    margin: 0 auto 2em;
    
}

.wrapper {
    max-width: 1280px;
    margin: auto;
    padding: 0 2em;
}

.character {
    text-align: center;

}

.character-image {
    width: 100%;
    border-radius: 50%;
    /* margin: 0 -2em; */
}
.character-label {
    background-color: #685128;
    padding: 1em;
    color: white;
    border-radius: 10px;
    /* display: inline-flex; */
}
.character-name {
    font-size: 30px;
}

@media screen and (min-width: 1024px) {
    .character-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "name image" "labels avatar";
    }
    .character-image {
        grid-area: name;
        width: 300px;
        border-radius: 50%;
        /* margin: 0 -2em; */
    }
    .character-name {
        text-align: left;
        font-size: 50px;
        position: relative;
        display: inline-flex;
    }
    .character-name h2 {
        text-align: left;
        font-size: 50px;
        position: relative;
        display: inline-flex;
    }
    .character-name::after {
        content: "";
        width: 30px;
        height: 2px;
        background-color: red;
        display: inline-flex;
        position: absolute;
        left: 100%;
    }
    h2.character-labels {
        grid-area: labels;
        max-width: 300px;
    }

    .character-image {
        grid-area: image;
    }
}