body {
    margin: 0;
    background-color: #00a5be;
    font-family: monospace;
}
.logo {
    display: block;
    margin: 0 auto;
}

.wrapper {
    max-width: 1280px;
    margin: auto;
    padding: 0 2em;
}

.character {
    text-align: center;

}
.character-labels {
    max-width: 300px;
}
.character-image {
    max-width: 100%;
    margin: 0 2em;
}
.character-label {
    background-color: #685128;
    padding: 1em;
    color: white;
    border-radius: 10px;
    display: inline-flex;
}
.character-name {
    font-size: 50px;
}
